@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

body {
    background: #E4EFFB;
    font-family: "Raleway", sans-serif;
}

/* Главный заголовок расширения */
h1 {
    color: #fff;
    text-align: center;
    font-size: 2em;
}

/* Всё наполнение расширения */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*===================== Переключение табов ================================*/
/* Переключатели табов - Лейбл раздела */
.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 2px 2px;
    background: #224A77;
    display: inline-block;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
}
.tab-bug {
    cursor: pointer;
    padding: 10px 20px;
    margin: 2px 2px;
    background: #C32F12;
    display: inline-block;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
}

/* Логика переключателей табов */
.radio {
    display: none;
}

#zero:checked ~ .panels #panel-0,
#one:checked ~ .panels #panel-1,
#two:checked ~ .panels #panel-2,
#three:checked ~ .panels #panel-3,
#four:checked ~ .panels #panel-4,
#five:checked ~ .panels #panel-5,
#six:checked ~ .panels #panel-6 {
    display: block;
}

#zero:checked ~ .tabs #tab-0 {
    background: #FF8168;
    color: #000;
}

#one:checked ~ .tabs #tab-1,
#two:checked ~ .tabs #tab-2,
#three:checked ~ .tabs #tab-3,
#four:checked ~ .tabs #tab-4,
#five:checked ~ .tabs #tab-5,
#six:checked ~ .tabs #tab-6 {
    background: #C6DDF4;
    color: #000;
}

#zero:checked ~ .result #total-0,
#one:checked ~ .result #total-1,
#two:checked ~ .result #total-2,
#three:checked ~ .result #total-3,
#four:checked ~ .result #total-4,
#five:checked ~ .result #total-5,
#six:checked ~ .result #total-6 {
    display: block;
}

/*=================== Разделы и их наполнение =============================*/
/* Общие свойства разделов */
.panels {
    background: #fffffff6;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 200px;
    width: 90%;
    /*   max-width:887px; */
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
}

/* Постепенное появление контента */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Наполнение конкретного раздела */
.panel {
    display: none;
    animation: fadein 0.8s;
    text-align: left;
}


/* Заголовок раздела */
.panel-title {
    font-size: 1.5em;
    font-weight: bold;
}

/*======================= Критерии оценки =================================*/
/* Заголовок критерия оценки */
.panel-subtitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* Подзаголовок критерия оценки */
.note {
    color: #444444;
    font-size: 12px;
    padding-bottom: 0;
}

/*====================== Итоговая оценка ==================================*/
/* Итоговый вес - контейнер */
.result {
    background: #fffffff6;
    box-shadow: 0 2rem 2rem #00000080;
    width: 90%;
    /*   max-width:887px; */
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    padding: 10px 20px;
    margin-top: -10px;
    border-top: 2px solid #000;
}

/* Итоговый вес - заголовок */
.result-title {
    animation: fadein 0.8s;
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    margin-top: 18px;
    margin-left: 20px;
}

/* Итоговый вес - значение */
.total {
    display: none;
    animation: fadein 0.8s;
    font-family: monospace;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    color: #224249;
    text-align: center;
    /*   cursor: pointer; */
}

/*=========================================================================*/
